# Banco de Dados Vetorial (ChromaDB / RAG)
chroma_db/

# Variáveis de Ambiente (MUITO IMPORTANTE: Nunca suba suas senhas do e-mail!)
.env

# Ambientes Virtuais Python
venv/
env/
.venv/

# Arquivos de Cache do Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Streamlit
.streamlit/

# Docker
.docker/